body,html {
    height: 100%;
    margin: 0;
    font-family: Segoe UI;
}

.top-section {
    height: 32px;
    background-color: #f7f7f7;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px;
}

.top-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botton {
    display: flex;
    color: black;
    background-color: #e9e5e55d;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 8px;
    text-align: center;
    margin:1px;
    gap: 2px;
    border-radius: 2px;
}

.botton:hover {
    background-color: #e0e0e0;
    color: black;
}

.num-btn{
    background-color: #fcfcfc;
    font-weight: bold;
}

.h-btn{
    display:none;
    align-items:center;  
    font-size: 20px;
    height: 40px;
    width: 40px;
    color: black;
    background-color: #f7f7f7;
    justify-content: center;
    text-align: center;    
    border-radius: 1px;
}
.h-btn:hover{
    background-color: #e0e0e0;
    color: black;
}

.mn-btn{
    display: flex;
    color: rgb(161, 159, 159);
    background-color: #f7f7f7;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;    
    border-radius: 1px;
    margin-right: 2px;
    height: 60px;
    width: 60px;
}

.m-btn{
    display: flex;
    color: black;
    background-color: #f7f7f7;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;    
    border-radius: 1px;
    margin-right: 2px;
    height: 60px;
    width: 60px;
}

.m-btn:hover{
    background-color: #e0e0e0;
    color: black;
}

.op-btn:hover{
    background-color: #1583da;
}

.top-botton{
    display: flex;
    color: black;
    padding: 14px;
<<<<<<< HEAD
    padding-top: 0px;
    padding-bottom: 4px;
=======
    justify-content: center;
>>>>>>> 4c4c56f0291a5859caa9a2c77f4bea3694c36efb
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;  
    margin: 1px;
    font-size: 30px;
    width: 12px;
}

div.top-section div.top-botton:hover{
    background-color: red;
    color: white;
}

a.top-botton:hover{
    background-color: #e0e0e0;
    color: black;
}

.button-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 20px;
}

.bottom-section {
    height: calc(100% - 32px);
    display: flex;
}

.left-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left-top {
    height: 60%;
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    background-color: #f7f7f7;
}

.left-item{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.horizontal-item{
    display:flex;
    flex-direction: row;
    margin-bottom: 1px;
}

.navi{
    height:40px; 
    width: 40px; 
    display:flex;
    justify-content:center; 
    align-items: center;
    font-size: 20px
}

.navi:hover{
    background-color: #e0e0e0;
    color: black;
}

.left-bottoom {
    display: grid;
    height: 100%;
    background-color: #f7f7f7;
    padding: 1px;
}

.right-bottom {
    display: flex;
    flex-direction: column;
    width: min(400px);
    background-color: #f7f7f7;
}

.line{
    display: flex;
    flex-direction: row;
}

.line-1 {
    border-top: 4px solid orange;
    width: 55px;
    margin-left: 2px;
}

.zero{
    display: flex; 
    justify-content: flex-end; 
    margin-right: 20px;
    font-size: 30px; 
    font-weight: bold;
}

@media (min-height: 450px) {
    .zero {
        font-size: 60px;
    }
}

.right-botom{
    display: flex;
    height: 50px;
}
/*.line-2 {
    border-top: 5px solid #3498db;
    margin-left: 2px;
    width: 65px;
}*/



@media (max-width: 555px) {
    body {
        flex-direction: column;
    }

    .right-bottom {
        display: none;
    }

    .h-btn{
        display:flex;
    }

}
